################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/projeto_calendarioGP9_PW-T01-2023-2/FileContentIndex/084aa509-1012-49e7-9686-ce0b0ba9fd39.vsidx
