<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/recuperaSenha.css">
    <link rel="shortcut icon" href="/Icons/icons8-calendário-justicon-lineal-color-96.ico" type="image/x-icon">
    <title>Recuperação de Senha</title>
</head>
<body>
    <div class="container">
        <div class="login-box">
            <p class="frase">Recuperação <br>de Senha</p>
            <form>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required placeholder="Digite o email que receberá a nova senha">
                </div>
                <div class="input-group">
                    <label for="nova-senha">Nova Senha:</label>
                    <input type="password" id="nova-senha" name="nova-senha" required placeholder="Digite sua nova senha">
                </div>
                <div class="input-group">
                    <label for="confirma-senha">Confirme a Nova Senha:</label>
                    <input type="password" id="confirma-senha" name="confirma-senha" required placeholder="Confirme sua nova senha">
                </div>
                <button type="button" onclick="redefinirSenha(); return false">Redefinir Senha</button>
            </form>
        </div>
    </div>
    <script src="/JavaScript/recuperaSenha.js"></script>
</body>
</html>
